*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif ;
}
body{
    background-image: url(./bg01.jpg);
    height: fit-content;
    width:auto;
}
nav{
    background-color: #434242;
    color:white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin:auto;
    padding: 18px;
}

.search-container input button{
    padding:5px,10px;
    border:none;
    font-size:16px;

}
.search-container input{
    border-radius: 3px,0,0,3px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.search-container  button{
    border-radius: 0,3px,3px,0;
    cursor: pointer;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    transition: all 0.2s;
}
.search-container button:hover{
    background: #e85555;

}
/* main seaction */

.main{
    max-width: 1200px;
    margin: 0,auto;
    margin-block: 38px;
}
main section{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/* footer */
footer {
    text-align: center;
    background-color: #232e23;
    color:white;
    padding-block: 20px; 
    margin-top: 40px;
    font-size: 20px;
}


